# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Logs
*.log

# Dependencies, if added later
node_modules/

# Build/output folders, if added later
dist/
build/

# Environment files
.env
.env.local

# Local test files
*.local
# Local Netlify folder
.netlify
